Requirement already satisfied: pyimgur in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: pyscreenshot in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 2)) (0.5.1)
Requirement already satisfied: tzlocal in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 3)) (1.5.1)
Requirement already satisfied: python_telegram_bot in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 4)) (11.1.0)
Requirement already satisfied: pytz in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 5)) (2018.9)
Requirement already satisfied: distro in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 6)) (1.4.0)
Requirement already satisfied: psutil in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 7)) (5.6.1)
Requirement already satisfied: Pillow in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from -r requirements.txt (line 8)) (6.0.0)
Requirement already satisfied: requests in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from pyimgur->-r requirements.txt (line 1)) (2.21.0)
Requirement already satisfied: EasyProcess in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from pyscreenshot->-r requirements.txt (line 2)) (0.2.5)
Requirement already satisfied: future>=0.16.0 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from python_telegram_bot->-r requirements.txt (line 4)) (0.17.1)
Requirement already satisfied: cryptography in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from python_telegram_bot->-r requirements.txt (line 4)) (2.6.1)
Requirement already satisfied: certifi in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from python_telegram_bot->-r requirements.txt (line 4)) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from requests->pyimgur->-r requirements.txt (line 1)) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from requests->pyimgur->-r requirements.txt (line 1)) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from requests->pyimgur->-r requirements.txt (line 1)) (2.8)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from cryptography->python_telegram_bot->-r requirements.txt (line 4)) (1.12.2)
Requirement already satisfied: six>=1.4.1 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from cryptography->python_telegram_bot->-r requirements.txt (line 4)) (1.12.0)
Requirement already satisfied: asn1crypto>=0.21.0 in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from cryptography->python_telegram_bot->-r requirements.txt (line 4)) (0.24.0)
Requirement already satisfied: pycparser in c:\users\phat\appdata\local\programs\python\python37-32\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography->python_telegram_bot->-r requirements.txt (line 4)) (2.19)
